$icons-map: (
        agility: "\005e",
        astromech: "\0041",
        attack: "\0025",
        bankleft: "\0037",
        bankright: "\0039",
        barrelroll: "\0072",
        boost: "\0062",
        bullseyearc: "\007d",
        calculate: "\0061",
        cannon: "\0043",
        cargo: "\0047",
        charge: "\0067",
        cloak: "\006b",
        condition-outline: "\00c6",
        condition: "\00b0",
        config: "\006e",
        coordinate: "\006f",
        crew: "\0057",
        crit: "\0063",
        dalan-bankleft: "\005b",
        dalan-bankright: "\005d",
        device: "\0042",
        doubleturretarc: "\0071",
        empire: "\0040",
        energy: "\0028",
        epic: "\0029",
        evade: "\0065",
        firstorder: "\002b",
        focus: "\0066",
        forcecharge: "\0068",
        forcepower: "\0046",
        frontarc: "\007b",
        fullfrontarc: "\007e",
        fullreararc: "\00a1",
        gunner: "\0059",
        hardpoint: "\0048",
        helmet-imperial: "\0079",
        helmet-rebel: "\0078",
        helmet-scum: "\007a",
        hit: "\0064",
        hull: "\0026",
        ig88d-sloopleft: "\0022",
        ig88d-sloopright: "\0027",
        illicit: "\0049",
        jam: "\006a",
        kturn: "\0032",
        leftarc: "\00a3",
        linked: "\003e",
        lock: "\006c",
        missile: "\004d",
        modification: "\006d",
        obstacle-core2asteroid0-outline: "\0109",
        obstacle-core2asteroid0: "\0125",
        obstacle-core2asteroid1-outline: "\010c",
        obstacle-core2asteroid1: "\0128",
        obstacle-core2asteroid2-outline: "\010a",
        obstacle-core2asteroid2: "\0126",
        obstacle-core2asteroid3-outline: "\010b",
        obstacle-core2asteroid3: "\0127",
        obstacle-core2asteroid4-outline: "\010d",
        obstacle-core2asteroid4: "\0129",
        obstacle-core2asteroid5-outline: "\010e",
        obstacle-core2asteroid5: "\012a",
        obstacle-coreasteroid0-outline: "\0102",
        obstacle-coreasteroid0: "\011e",
        obstacle-coreasteroid1-outline: "\0103",
        obstacle-coreasteroid1: "\011f",
        obstacle-coreasteroid2-outline: "\0101",
        obstacle-coreasteroid2: "\011d",
        obstacle-coreasteroid3-outline: "\0105",
        obstacle-coreasteroid3: "\0121",
        obstacle-coreasteroid4-outline: "\0104",
        obstacle-coreasteroid4: "\0120",
        obstacle-coreasteroid5-outline: "\0100",
        obstacle-coreasteroid5: "\011c",
        obstacle-vt49decimatordebris0-outline: "\0110",
        obstacle-vt49decimatordebris0: "\012c",
        obstacle-vt49decimatordebris1-outline: "\0111",
        obstacle-vt49decimatordebris1: "\012d",
        obstacle-vt49decimatordebris2-outline: "\0107",
        obstacle-vt49decimatordebris2: "\0123",
        obstacle-yt2400debris0-outline: "\010f",
        obstacle-yt2400debris0: "\012b",
        obstacle-yt2400debris1-outline: "\0108",
        obstacle-yt2400debris1: "\0124",
        obstacle-yt2400debris2-outline: "\0106",
        obstacle-yt2400debris2: "\0122",
        rangebonusindicator: "\003f",
        reararc: "\007c",
        rebel-outline: "\002d",
        rebel: "\0021",
        recover: "\0076",
        recurring: "\0060",
        reinforce: "\0069",
        reload: "\003d",
        reversebankleft: "\004a",
        reversebankright: "\004c",
        reversestraight: "\004b",
        rightarc: "\00a2",
        rotatearc: "\0052",
        scum: "\0023",
        shield: "\002a",
        singleturretarc: "\0070",
        slam: "\0073",
        sloopleft: "\0031",
        sloopright: "\0033",
        squad-point-cost: "\0030",
        stop: "\0035",
        straight: "\0038",
        system: "\0053",
        talent: "\0045",
        team: "\0054",
        tech: "\0058",
        title: "\0074",
        token-crit-outline: "\00e8",
        token-crit: "\00c7",
        token-cloak-outline: "\00f4",
        token-cloak: "\00e5",
        token-evade-outline: "\00e9",
        token-evade: "\00c5",
        token-focus-outline: "\00e7",
        token-focus: "\00c4",
        token-disarm-outline: "\00ed",
        token-disarm: "\00d6",
        token-ion-outline: "\00f3",
        token-ion: "\00e4",
        token-lock-outline: "\00f2",
        token-lock: "\00e3",
        token-reinforce-outline: "\00ec",
        token-reinforce: "\00dc",
        token-shield-outline: "\00eb",
        token-shield: "\00d1",
        token-stress-outline: "\00ea",
        token-stress: "\00c9",
        token-tractor-outline: "\00ef",
        token-tractor: "\00e0",
        torpedo: "\0050",
        trollleft: "\003a",
        trollright: "\003b",
        turnleft: "\0034",
        turnright: "\0036",
        turret: "\0055",
        unique-outline: "\2022",
        unique: "\0075"
)
