$ships-map: (
        aggressor: "\0069",
        alphaclassstarwing: "\0026",
        arc170: "\0063",
        attackshuttle: "\0067",
        auzituckgunship: "\0040",
        awing: "\0061",
        bwing: "\0062",
        bsf17bomber: "\005a",
        cr90corvette: "\0032",
        croccruiser: "\0035",
        ewing: "\0065",
        firespray31: "\0066",
        g1astarfighter: "\006e",
        gozanticlasscruiser: "\0034",
        gr75mediumtransport: "\0031",
        hwk290: "\0068",
        ig2000: "\0069",
        jumpmaster5000: "\0070",
        kihraxzfighter: "\0072",
        kwing: "\006b",
        m12lkimogilafighter: "\004b",
        lambdaclassshuttle: "\006c",
        lancerclasspursuitcraft: "\004c",
        m3ainterceptor: "\0073",
        protectoratestarfighter: "\004d",
        quadjumper: "\0071",
        raiderclasscorvette: "\0033",
        scurrgh6bomber: "\0048",
        sheathipedeclassshuttle: "\0025",
        starviper: "\0076",
        t70xwing: "\0077",
        tieadvanced: "\0041",
        tieadvancedprototype: "\0052",
        tieadvprototype: "\0052",
        tieaggressor: "\0060",
        tiebomber: "\0042",
        tiedefender: "\0044",
        tiefighter: "\0046",
        tiefofighter: "\004f",
        tieinterceptor: "\0049",
        tiephantom: "\0050",
        tiepunisher: "\004e",
        tiereaper: "\0056",
        tiesffighter: "\0053",
        tiesilencer: "\0024",
        tiestriker: "\0054",
        upsilonclassshuttle: "\0055",
        uwing: "\0075",
        vcx100: "\0047",
        vt49decimator: "\0064",
        xwing: "\0078",
        yt1300: "\006d",
        yt2400: "\006f",
        yt2400freighter: "\006f",
        yv666: "\0074",
        ywing: "\0079",
        z95headhunter: "\007a"
)
