$ships-map: (
        aggressor: "i",
        arc170: "c",
        attackshuttle: "g",
        auzituckgunship: "@",
        awing: "a",
        bwing: "b",
        cr90corvette: "2",
        croccruiser: "5",
        ewing: "e",
        firespray31: "f",
        g1astarfighter: "n",
        gozanticlasscruiser: "4",
        gr75mediumtransport: "1",
        hwk290: "h",
        ig2000: "i",
        jumpmaster5000: "p",
        kihraxzfighter: "r",
        kwing: "k",
        lambdaclassshuttle: "l",
        lancerclasspursuitcraft: "L",
        m3ainterceptor: "s",
        protectoratestarfighter: "M",
        quadjumper: "q",
        raiderclasscorvette: "3",
        scurrgh6bomber: "H",
        starviper: "v",
        t70xwing: "w",
        tieadvanced: "A",
        tieadvancedprototype: "R",
        tieadvprototype: "R",
        tieaggressor: "`",
        tiebomber: "B",
        tiedefender: "D",
        tiefighter: "F",
        tiefofighter: "O",
        tieinterceptor: "I",
        tiephantom: "P",
        tiepunisher: "N",
        tiesffighter: "S",
        tiestriker: "T",
        upsilonclassshuttle: "U",
        uwing: "u",
        vcx100: "G",
        vt49decimator: "d",
        xwing: "x",
        yt1300: "m",
        yt2400: "o",
        yt2400freighter: "o",
        yv666: "t",
        ywing: "y",
        z95headhunter: "z"
)
