$ships-map: (
        aggressorassaultfighter: "\0069",
        alphaclassstarwing: "\0026",
        arc170starfighter: "\0063",
        asf01bwing: "\0062",
        attackshuttle: "\0067",
        auzituckgunship: "\0040",
        belbullab22starfighter: "\005b",
        btla4ywing: "\0079",
        btlbywing: "\003a",
        btls8kwing: "\006b",
        cr90corvette: "\0032",
        croccruiser: "\0035",
        customizedyt1300lightfreighter: "\0057",
        droidtrifighter: "\002b",
        delta7aethersprite: "\005c",
        escapecraft: "\0058",
        eta2actis: "\002d",
        ewing: "\0065",
        fangfighter: "\004d",
        fireball: "\0030",
        firesprayclasspatrolcraft: "\0066",
        g1astarfighter: "\006e",
        gozanticlasscruiser: "\0034",
        gr75mediumtransport: "\0031",
        hmpdroidgunship: "\002e",
        hwk290lightfreighter: "\0068",
        hyenaclassdroidbomber: "\003d",
        jumpmaster5000: "\0070",
        kihraxzfighter: "\0072",
        laatigunship: "\002f",
        lambdaclasst4ashuttle: "\006c",
        lancerclasspursuitcraft: "\004c",
        m12lkimogilafighter: "\004b",
        m3ainterceptor: "\0073",
        mg100starfortress: "\005a",
        modifiedtielnfighter: "\0043",
        modifiedyt1300lightfreighter: "\006d",
        nabooroyaln1starfighter: "\003c",
        nantexclassstarfighter: "\003b",
        nimbusclassvwing: "\002c",
        quadrijettransferspacetug: "\0071",
        raiderclasscorvette: "\0033",
        resistancetransport: "\003e",
        resistancetransportpod: "\003f",
        rz1awing: "\0061",
        rz2awing: "\0045",
        scavengedyt1300: "\0059",
        scurrgh6bomber: "\0048",
        sheathipedeclassshuttle: "\0025",
        sithinfiltrator: "\005d",
        starviperclassattackplatform: "\0076",
        syliureclasshyperspacering : "\002a",
        t65xwing: "\0078",
        t70xwing: "\0077",
        tieadvancedv1: "\0052",
        tieadvancedx1: "\0041",
        tieagaggressor: "\0060",
        tiebainterceptor: "\006a",
        tiecapunisher: "\004e",
        tieddefender: "\0044",
        tiefofighter: "\004f",
        tieinterceptor: "\0049",
        tielnfighter: "\0046",
        tiephphantom: "\0050",
        tierbheavy: "\004a",
        tiereaper: "\0056",
        tiesabomber: "\0042",
        tiesffighter: "\0053",
        tieskstriker: "\0054",
        tievnsilencer: "\0024",
        upsilonclasscommandshuttle: "\0055",
        ut60duwing: "\0075",
        v19torrentstarfighter: "\005e",
        vcx100lightfreighter: "\0047",
        vt49decimator: "\0064",
        vultureclassdroidfighter: "\005f",
        xiclasslightshuttle: "\0051",
        yt2400lightfreighter: "\006f",
        yv666lightfreighter: "\0074",
        z95af4headhunter: "\007a"
)
