doctype html
html
  head
    link(rel="stylesheet", href="dist/xwing-miniatures.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    .container
      .row
        h1 X-Wing Miniatures Font List

      .row
        table
          tr
            th(colspan="2") Symbols

          tr
            td xwing-miniatures-font-agility
            td
              i.xwing-miniatures-font.xwing-miniatures-font-agility

          tr
            td xwing-miniatures-font-astromech
            td
              i.xwing-miniatures-font.xwing-miniatures-font-astromech

          tr
            td xwing-miniatures-font-attack
            td
              i.xwing-miniatures-font.xwing-miniatures-font-attack

          tr
            td xwing-miniatures-font-attack-turret
            td
              i.xwing-miniatures-font.xwing-miniatures-font-attack-turret

          tr
            td xwing-miniatures-font-attack-frontback
            td
              i.xwing-miniatures-font.xwing-miniatures-font-attack-frontback

          tr
            td xwing-miniatures-font-attack-180
            td
              i.xwing-miniatures-font.xwing-miniatures-font-attack-180

          tr
            td xwing-miniatures-font-bankleft
            td
              i.xwing-miniatures-font.xwing-miniatures-font-bankleft

          tr
            td xwing-miniatures-font-bankright
            td
              i.xwing-miniatures-font.xwing-miniatures-font-bankright

          tr
            td xwing-miniatures-font-barrelroll
            td
              i.xwing-miniatures-font.xwing-miniatures-font-barrelroll

          tr
            td xwing-miniatures-font-bomb
            td
              i.xwing-miniatures-font.xwing-miniatures-font-bomb

          tr
            td xwing-miniatures-font-boost
            td
              i.xwing-miniatures-font.xwing-miniatures-font-boost

          tr
            td xwing-miniatures-font-cannon
            td
              i.xwing-miniatures-font.xwing-miniatures-font-cannon

          tr
            td xwing-miniatures-font-cargo
            td
              i.xwing-miniatures-font.xwing-miniatures-font-cargo

          tr
            td xwing-miniatures-font-cloak
            td
              i.xwing-miniatures-font.xwing-miniatures-font-cloak

          tr
            td xwing-miniatures-font-coordinate
            td
              i.xwing-miniatures-font.xwing-miniatures-font-coordinate

          tr
            td xwing-miniatures-font-condition
            td
              i.xwing-miniatures-font.xwing-miniatures-font-condition

          tr
            td xwing-miniatures-font-condition-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-condition-outline

          tr
            td xwing-miniatures-font-crew
            td
              i.xwing-miniatures-font.xwing-miniatures-font-crew

          tr
            td xwing-miniatures-font-crit
            td
              i.xwing-miniatures-font.xwing-miniatures-font-crit

          tr
            td xwing-miniatures-font-elite
            td
              i.xwing-miniatures-font.xwing-miniatures-font-elite

          tr
            td xwing-miniatures-font-empire
            td
              i.xwing-miniatures-font.xwing-miniatures-font-empire

          tr
            td xwing-miniatures-font-energy
            td
              i.xwing-miniatures-font.xwing-miniatures-font-energy

          tr
            td xwing-miniatures-font-epic
            td
              i.xwing-miniatures-font.xwing-miniatures-font-epic

          tr
            td xwing-miniatures-font-evade
            td
              i.xwing-miniatures-font.xwing-miniatures-font-evade

          tr
            td xwing-miniatures-font-focus
            td
              i.xwing-miniatures-font.xwing-miniatures-font-focus

          tr
            td xwing-miniatures-font-firstorder
            td
              i.xwing-miniatures-font.xwing-miniatures-font-firstorder

          tr
            td xwing-miniatures-font-hardpoint
            td
              i.xwing-miniatures-font.xwing-miniatures-font-hardpoint

          tr
            td xwing-miniatures-font-helmet-rebel
            td
              i.xwing-miniatures-font.xwing-miniatures-font-helmet-rebel

          tr
            td xwing-miniatures-font-helmet-imperial
            td
              i.xwing-miniatures-font.xwing-miniatures-font-helmet-imperial

          tr
            td xwing-miniatures-font-helmet-scum
            td
              i.xwing-miniatures-font.xwing-miniatures-font-helmet-scum

          tr
            td xwing-miniatures-font-hit
            td
              i.xwing-miniatures-font.xwing-miniatures-font-hit

          tr
            td xwing-miniatures-font-hull
            td
              i.xwing-miniatures-font.xwing-miniatures-font-hull

          tr
            td xwing-miniatures-font-ig88d-sloopleft
            td
              i.xwing-miniatures-font.xwing-miniatures-font-ig88d-sloopleft

          tr
            td xwing-miniatures-font-ig88d-sloopright
            td
              i.xwing-miniatures-font.xwing-miniatures-font-ig88d-sloopright

          tr
            td xwing-miniatures-font-illicit
            td
              i.xwing-miniatures-font.xwing-miniatures-font-illicit

          tr
            td xwing-miniatures-font-jam
            td
              i.xwing-miniatures-font.xwing-miniatures-font-jam

          tr
            td xwing-miniatures-font-kturn
            td
              i.xwing-miniatures-font.xwing-miniatures-font-kturn

          tr
            td xwing-miniatures-font-missile
            td
              i.xwing-miniatures-font.xwing-miniatures-font-missile

          tr
            td xwing-miniatures-font-modification
            td
              i.xwing-miniatures-font.xwing-miniatures-font-modification

          tr
            td xwing-miniatures-font-obstacle-coreasteroid0
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid0

          tr
            td xwing-miniatures-font-obstacle-coreasteroid1
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid1

          tr
            td xwing-miniatures-font-obstacle-coreasteroid2
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid2

          tr
            td xwing-miniatures-font-obstacle-coreasteroid3
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid3

          tr
            td xwing-miniatures-font-obstacle-coreasteroid4
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid4

          tr
            td xwing-miniatures-font-obstacle-coreasteroid5
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid5

          tr
            td xwing-miniatures-font-obstacle-core2asteroid0
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid0

          tr
            td xwing-miniatures-font-obstacle-core2asteroid1
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid1

          tr
            td xwing-miniatures-font-obstacle-core2asteroid2
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid2

          tr
            td xwing-miniatures-font-obstacle-core2asteroid3
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid3

          tr
            td xwing-miniatures-font-obstacle-core2asteroid4
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid4

          tr
            td xwing-miniatures-font-obstacle-core2asteroid5
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid5

          tr
            td xwing-miniatures-font-obstacle-vt49decimatordebris0
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-vt49decimatordebris0

          tr
            td xwing-miniatures-font-obstacle-vt49decimatordebris1
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-vt49decimatordebris1

          tr
            td xwing-miniatures-font-obstacle-vt49decimatordebris2
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-vt49decimatordebris2

          tr
            td xwing-miniatures-font-obstacle-yt2400debris0
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-yt2400debris0

          tr
            td xwing-miniatures-font-obstacle-yt2400debris1
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-yt2400debris1

          tr
            td xwing-miniatures-font-obstacle-yt2400debris2
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-yt2400debris2

          tr
            td xwing-miniatures-font-obstacle-coreasteroid0-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid0-outline

          tr
            td xwing-miniatures-font-obstacle-coreasteroid1-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid1-outline

          tr
            td xwing-miniatures-font-obstacle-coreasteroid2-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid2-outline

          tr
            td xwing-miniatures-font-obstacle-coreasteroid3-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid3-outline

          tr
            td xwing-miniatures-font-obstacle-coreasteroid4-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid4-outline

          tr
            td xwing-miniatures-font-obstacle-coreasteroid5-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-coreasteroid5-outline

          tr
            td xwing-miniatures-font-obstacle-core2asteroid0-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid0-outline

          tr
            td xwing-miniatures-font-obstacle-core2asteroid1-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid1-outline

          tr
            td xwing-miniatures-font-obstacle-core2asteroid2-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid2-outline

          tr
            td xwing-miniatures-font-obstacle-core2asteroid3-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid3-outline

          tr
            td xwing-miniatures-font-obstacle-core2asteroid4-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid4-outline

          tr
            td xwing-miniatures-font-obstacle-core2asteroid5-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-core2asteroid5-outline

          tr
            td xwing-miniatures-font-obstacle-vt49decimatordebris0-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-vt49decimatordebris0-outline

          tr
            td xwing-miniatures-font-obstacle-vt49decimatordebris1-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-vt49decimatordebris1-outline

          tr
            td xwing-miniatures-font-obstacle-vt49decimatordebris2-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-vt49decimatordebris2-outline

          tr
            td xwing-miniatures-font-obstacle-yt2400debris0-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-yt2400debris0-outline

          tr
            td xwing-miniatures-font-obstacle-yt2400debris1-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-yt2400debris1-outline

          tr
            td xwing-miniatures-font-obstacle-yt2400debris2-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-obstacle-yt2400debris2-outline

          tr
            td xwing-miniatures-font-overlay-180
            td
              i.xwing-miniatures-font.xwing-miniatures-font-overlay-180

          tr
            td xwing-miniatures-font-overlay-frontback
            td
              i.xwing-miniatures-font.xwing-miniatures-font-overlay-frontback

          tr
            td xwing-miniatures-font-overlay-turret
            td
              i.xwing-miniatures-font.xwing-miniatures-font-overlay-turret

          tr
            td xwing-miniatures-font-rebel
            td
              i.xwing-miniatures-font.xwing-miniatures-font-rebel

          tr
            td xwing-miniatures-font-rebel-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-rebel-outline

          tr
            td xwing-miniatures-font-recover
            td
              i.xwing-miniatures-font.xwing-miniatures-font-recover

          tr
            td xwing-miniatures-font-reinforce
            td
              i.xwing-miniatures-font.xwing-miniatures-font-reinforce

          tr
            td xwing-miniatures-font-reversebankleft
            td
              i.xwing-miniatures-font.xwing-miniatures-font-reversebankleft

          tr
            td xwing-miniatures-font-reversebankright
            td
              i.xwing-miniatures-font.xwing-miniatures-font-reversebankright

          tr
            td xwing-miniatures-font-reversestraight
            td
              i.xwing-miniatures-font.xwing-miniatures-font-reversestraight

          tr
            td xwing-miniatures-font-rotatearc
            td
              i.xwing-miniatures-font.xwing-miniatures-font-rotatearc

          tr
            td xwing-miniatures-font-salvagedastromech
            td
              i.xwing-miniatures-font.xwing-miniatures-font-salvagedastromech

          tr
            td xwing-miniatures-font-scum
            td
              i.xwing-miniatures-font.xwing-miniatures-font-scum

          tr
            td xwing-miniatures-font-shield
            td
              i.xwing-miniatures-font.xwing-miniatures-font-shield

          tr
            td xwing-miniatures-font-slam
            td
              i.xwing-miniatures-font.xwing-miniatures-font-slam

          tr
            td xwing-miniatures-font-sloopleft
            td
              i.xwing-miniatures-font.xwing-miniatures-font-sloopleft

          tr
            td xwing-miniatures-font-sloopright
            td
              i.xwing-miniatures-font.xwing-miniatures-font-sloopright

          tr
            td xwing-miniatures-font-squad-point-cost
            td
              i.xwing-miniatures-font.xwing-miniatures-font-squad-point-cost

          tr
            td xwing-miniatures-font-stop
            td
              i.xwing-miniatures-font.xwing-miniatures-font-stop

          tr
            td xwing-miniatures-font-straight
            td
              i.xwing-miniatures-font.xwing-miniatures-font-straight

          tr
            td xwing-miniatures-font-system
            td
              i.xwing-miniatures-font.xwing-miniatures-font-system

          tr
            td xwing-miniatures-font-targetlock
            td
              i.xwing-miniatures-font.xwing-miniatures-font-targetlock

          tr
            td xwing-miniatures-font-team
            td
              i.xwing-miniatures-font.xwing-miniatures-font-team

          tr
            td xwing-miniatures-font-tech
            td
              i.xwing-miniatures-font.xwing-miniatures-font-tech

          tr
            td xwing-miniatures-font-title
            td
              i.xwing-miniatures-font.xwing-miniatures-font-title

          tr
            td xwing-miniatures-font-token-cannotattack
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-cannotattack

          tr
            td xwing-miniatures-font-token-cannotattack-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-cannotattack-outline

          tr
            td xwing-miniatures-font-token-cloak
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-cloak

          tr
            td xwing-miniatures-font-token-cloak-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-cloak-outline

          tr
            td xwing-miniatures-font-token-crit
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-crit

          tr
            td xwing-miniatures-font-token-crit-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-crit-outline

          tr
            td xwing-miniatures-font-token-energy
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-energy

          tr
            td xwing-miniatures-font-token-energy-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-energy-outline

          tr
            td xwing-miniatures-font-token-evade
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-evade

          tr
            td xwing-miniatures-font-token-evade-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-evade-outline

          tr
            td xwing-miniatures-font-token-extramunitions
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-extramunitions

          tr
            td xwing-miniatures-font-token-extramunitions-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-extramunitions-outline

          tr
            td xwing-miniatures-font-token-focus
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-focus

          tr
            td xwing-miniatures-font-token-focus-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-focus-outline

          tr
            td xwing-miniatures-font-token-illicit
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-illicit

          tr
            td xwing-miniatures-font-token-illicit-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-illicit-outline

          tr
            td xwing-miniatures-font-token-ion
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-ion

          tr
            td xwing-miniatures-font-token-ion-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-ion-outline

          tr
            td xwing-miniatures-font-token-reinforce
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-reinforce

          tr
            td xwing-miniatures-font-token-reinforce-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-reinforce-outline

          tr
            td xwing-miniatures-font-token-shield
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-shield

          tr
            td xwing-miniatures-font-token-shield-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-shield-outline

          tr
            td xwing-miniatures-font-token-stress
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-stress

          tr
            td xwing-miniatures-font-token-stress-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-stress-outline

          tr
            td xwing-miniatures-font-token-targetlock
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-targetlock

          tr
            td xwing-miniatures-font-token-targetlock-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-targetlock-outline

          tr
            td xwing-miniatures-font-token-tractorbeam
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-tractorbeam

          tr
            td xwing-miniatures-font-token-tractorbeam-outline
            td
              i.xwing-miniatures-font.xwing-miniatures-font-token-tractorbeam-outline

          tr
            td xwing-miniatures-font-torpedo
            td
              i.xwing-miniatures-font.xwing-miniatures-font-torpedo

          tr
            td xwing-miniatures-font-trollleft
            td
              i.xwing-miniatures-font.xwing-miniatures-font-trollleft

          tr
            td xwing-miniatures-font-trollright
            td
              i.xwing-miniatures-font.xwing-miniatures-font-trollright

          tr
            td xwing-miniatures-font-turnleft
            td
              i.xwing-miniatures-font.xwing-miniatures-font-turnleft

          tr
            td xwing-miniatures-font-turnright
            td
              i.xwing-miniatures-font.xwing-miniatures-font-turnright

          tr
            td xwing-miniatures-font-turret
            td
              i.xwing-miniatures-font.xwing-miniatures-font-turret

          tr
            td xwing-miniatures-font-unique
            td
              i.xwing-miniatures-font.xwing-miniatures-font-unique


          tr
            th(colspan="2") Ships

          tr
            td xwing-miniatures-ship-aggressor
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-aggressor

          tr
            td xwing-miniatures-ship-arc170
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-arc170

          tr
            td xwing-miniatures-ship-attackshuttle
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-attackshuttle

          tr
            td xwing-miniatures-ship-auzituckgunship
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-auzituckgunship

          tr
            td xwing-miniatures-ship-awing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-awing

          tr
            td xwing-miniatures-ship-bwing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-bwing

          tr
            td xwing-miniatures-ship-cr90corvette
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-cr90corvette

          tr
            td xwing-miniatures-ship-croccruiser
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-croccruiser

          tr
            td xwing-miniatures-ship-ewing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-ewing

          tr
            td xwing-miniatures-ship-firespray31
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-firespray31

          tr
            td xwing-miniatures-ship-g1astarfighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-g1astarfighter

          tr
            td xwing-miniatures-ship-gozanticlasscruiser
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-gozanticlasscruiser

          tr
            td xwing-miniatures-ship-gr75mediumtransport
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-gr75mediumtransport

          tr
            td xwing-miniatures-ship-hwk290
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-hwk290

          tr
            td xwing-miniatures-ship-ig2000
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-ig2000

          tr
            td xwing-miniatures-ship-jumpmaster5000
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-jumpmaster5000

          tr
            td xwing-miniatures-ship-kihraxzfighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-kihraxzfighter

          tr
            td xwing-miniatures-ship-kwing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-kwing

          tr
            td xwing-miniatures-ship-lambdaclassshuttle
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-lambdaclassshuttle

          tr
            td xwing-miniatures-ship-lancerclasspursuitcraft
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-lancerclasspursuitcraft

          tr
            td xwing-miniatures-ship-m3ainterceptor
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-m3ainterceptor

          tr
            td xwing-miniatures-ship-protectoratestarfighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-protectoratestarfighter

          tr
            td xwing-miniatures-ship-quadjumper
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-quadjumper

          tr
            td xwing-miniatures-ship-raiderclasscorvette
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-raiderclasscorvette

          tr
            td xwing-miniatures-ship-scurrgh6bomber
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-scurrgh6bomber

          tr
            td xwing-miniatures-ship-starviper
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-starviper

          tr
            td xwing-miniatures-ship-t70xwing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-t70xwing

          tr
            td xwing-miniatures-ship-tieadvanced
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tieadvanced

          tr
            td xwing-miniatures-ship-tieadvprototype
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tieadvprototype

          tr
            td xwing-miniatures-ship-tieadvancedprototype
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tieadvancedprototype

          tr
            td xwing-miniatures-ship-tieaggressor
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tieaggressor

          tr
            td xwing-miniatures-ship-tiebomber
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiebomber

          tr
            td xwing-miniatures-ship-tiedefender
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiedefender

          tr
            td xwing-miniatures-ship-tiefighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiefighter

          tr
            td xwing-miniatures-ship-tiefofighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiefofighter

          tr
            td xwing-miniatures-ship-tieinterceptor
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tieinterceptor

          tr
            td xwing-miniatures-ship-tiephantom
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiephantom

          tr
            td xwing-miniatures-ship-tiepunisher
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiepunisher

          tr
            td xwing-miniatures-ship-tiesffighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiesffighter

          tr
            td xwing-miniatures-ship-tiestriker
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-tiestriker

          tr
            td xwing-miniatures-ship-upsilonclassshuttle
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-upsilonclassshuttle

          tr
            td xwing-miniatures-ship-uwing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-uwing

          tr
            td xwing-miniatures-ship-vcx100
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-vcx100

          tr
            td xwing-miniatures-ship-vt49decimator
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-vt49decimator

          tr
            td xwing-miniatures-ship-xwing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-xwing

          tr
            td xwing-miniatures-ship-yt1300
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-yt1300

          tr
            td xwing-miniatures-ship-yt2400
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-yt2400

          tr
            td xwing-miniatures-ship-yt2400freighter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-yt2400freighter

          tr
            td xwing-miniatures-ship-yv666
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-yv666

          tr
            td xwing-miniatures-ship-ywing
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-ywing

          tr
            td xwing-miniatures-ship-z95headhunter
            td
              i.xwing-miniatures-ship.xwing-miniatures-ship-z95headhunter

        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
