<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="dist/xwing-miniatures.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>X-Wing Miniatures Font List</h1>
            </div>
            <div class="row">
                <table>
                    {{> index-icon-set map=icons title='Icons' name='font' }}
                    {{> index-icon-set map=ships title='Ships' name='ship' }}
                </table>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            </div>
        </div>
    </body>
</html>